{% extends 'scolarte/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h1 class="box">Lista: {{ lista.name }} </h1>
        {% if lista.status != 'en_revision' %}
        <button id="editList" class="btn btn-outline-secondary px-3 r-30"><i
            class="fa fa-pencil fa-fw mr-1" aria-hidden="true"></i>Editar Lista</button>
            <button id="placeList" class="btn btn-outline-primary px-3 r-30"><i
                class="fa fa-plus fa-fw mr-1" aria-hidden="true"></i>Ordernar Lista</button>
        {% else %}
        <span class="badge badge-info">En revision</span>
        <button id="placeList" class="btn btn-outline-secondary px-3 r-30">Deshacer orden</button>
        {% endif %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <p>Total: $ {{ list_total }} | Productos en la lista: {{ list_items_count }}</p>
    </div>
</div>
<hr>

<script>
    $("#editList").click(function () {
        $("#editListForm").removeClass("hidden");
    });
    $("#closeEditList").click(function () {
        $("#editListForm").addClass("hidden");
    });

    $('#placeList').click(()=>{
        $.post("{% url 'lists:place_list_from_client' %}", {
                    lista_id: "{{ lista.id }}",
        }).done((response) => {            
            location.reload();
        }).fail( (error) => {
            console.log(error);
            // $("#TenListsLimit{{ free_list.id }}").modal('show');
        });
    });
</script>

<div id="editListForm" class="row margin5 hidden">
    <div class="col-md-12">
        <form action="{% url 'lists:list_details' lista.id %}" method="post">
            {% csrf_token %}
            {{form.name|as_crispy_field}}
            {{form.list_image|as_crispy_field}}
            <!-- {{ form|crispy }} -->
            <button type="submit" class="btn btn-primary">Editar</button>
            <a class="btn" id="closeEditList"><b>Cerrar</b></a>
        </form>
    </div>
</div>


<hr>
{% if lista.list_image %}
<p>Se recibió la foto o PDF de su lista:  <img id="listImageOrPDF{{ lista.id }}" class="margin-left3" src="{{ lista.list_image.url }}" alt="Smiley face" height="20%" width="20%"></p>
<script>
    $("#listImageOrPDF{{ lista.id }}").click(function () {
        $("#showListImageOrPDF{{ lista.id }}").modal('show');
    });
</script>
{% endif %}

{% if lista.list_image %}
<div class="modal fade" id="showListImageOrPDF{{ lista.id }}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img id="listImageOrPDF" src="{{ lista.list_image.url }}" alt="Smiley face" width="50%" height="50%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="row margin-top5">
    {% for list_item in list_items %}
    {% if forloop.counter0|divisibleby:3 and not forloop.first %}<div class="w-100"></div>{% endif %}
    <div class="card margin-right3" style="width: 14rem;">
        <div class="card-body">
            <h5 class="card-title">{{ list_item.product.short_name }}</h5>
            <p class="card-title">Precio unitario: $ {{ list_item.product.price }}</p>
            <p class="card-title">Cantidad: {{ list_item.quantity }}</p>
            <p class="card-title">Subtotal: $ {{ list_item.sub_total }}</p>
            <p class="card-text">{{ list_item.description }}</p>
            <a href="{% url 'lists:full_remove_listitem' list_item.id %}" class="custom_icon"><i
                    class="fas fa-trash-alt custom_icon"></i></a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}