{% extends 'scolarte/base.html' %}

{% load crispy_forms_tags %}

{% block content %}


<div class="row">
    <div class="col-md-8 col-sm-6">
        <h1>Lista: {{ lista.name }}</h1>
    </div>
    {% if lista.status == "Lista pedida" %}
        <div class="col-md-4 col-sm-6">
            <button id="editList" class="btn btn-primary">Editar</button>
        </div>
    {% else %}
    <div class="col-md-2 col-sm-3">
        <button id="editList" class="btn btn-primary">Editar</button>
    </div>
    <div class="col-md-2 col-sm-3">
        <button id="pedirLista{{ lista.id }}" class="btn btn-primary">Pedir lista</button>
    </div>
    {% endif %}
</div>

<div class="modal fade" id="ConfirmacionListaAgregada{{ lista.id }}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <h5 class="card-title added-to-cart-check margin-bottom5 margin-left5"><i
                        class="fas fa-check margin-right3"></i>Se pidió la lista correctamente</h5>
                        <hr>
                        
                <div class="row">
                    <div class="col-md-8">
                        <p>Lista: {{ lista.name }}</p>
                        <p>Total: $ {{ list_total }} | Productos en la lista: {{ list_items_count }}</p>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>

    $("#pedirLista{{ lista.id }}").click(function () {

        $.post("{% url 'lists:order_list' %}", {
            lista_id: "{{ lista.id }}",
        })
            .done(() => {
                $("#ConfirmacionListaAgregada{{ lista.id }}").modal('show');
                $("#pedirLista{{ lista.id }}").hide();
            })
            .fail((error) => {
                console.log(JSON.stringify(error, null, 4))
            })
    });
</script>


<hr>
<div class="row">
    <div class="col-md-12">
        <p>Total: $ {{ list_total }} | Productos en la lista: {{ list_items_count }}</p>
    </div>
</div>
<hr>

<script>
    $("#editList").click(function () {
        $("#editListForm").removeClass("hidden");
    });
</script>

<div id="editListForm" class="row margin5 hidden">
    <div class="col-md-12">
        <form action="{% url 'lists:list_details' lista.id %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Editar</button>
            <a class="btn" id="closeEditList"><b>Cerrar</b></a>
        </form>
    </div>
</div>

<script>
    $("#closeEditList").click(function () {
        $("#editListForm").addClass("hidden");
    });
</script>

<hr>
{% if lista.list_image %}
<p>Se recibió la foto o PDF de su lista: <img id="listImageOrPDF{{ lista.id }}" class="margin-left3"
        src="{{ lista.list_image.url }}" alt="Smiley face" height="20%" width="20%"></p>
{% endif %}

<script>
    $("#listImageOrPDF{{ lista.id }}").click(function () {
        $("#showListImageOrPDF{{ lista.id }}").modal('show');
    });
</script>

{% if lista.list_image %}
<div class="modal fade" id="showListImageOrPDF{{ lista.id }}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img id="listImageOrPDF" src="{{ lista.list_image.url }}" alt="Smiley face" width="50%" height="50%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="row margin-top5">
    {% for list_item in list_items %}
    {% if forloop.counter0|divisibleby:3 and not forloop.first %}<div class="w-100"></div>{% endif %}
    <div class="card margin-right3" style="width: 14rem;">
        <div class="card-body">
            <h5 class="card-title">{{ list_item.product.short_name }}</h5>
            <p class="card-title">Precio unitario: $ {{ list_item.product.price }}</p>
            <p class="card-title">Cantidad: {{ list_item.quantity }}</p>
            <p class="card-title">Subtotal: $ {{ list_item.sub_total }}</p>
            <p class="card-text">{{ list_item.description }}</p>
            <a href="{% url 'lists:full_remove_listitem' list_item.id %}" class="custom_icon"><i
                    class="fas fa-trash-alt custom_icon"></i></a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}