<option value="">--Eliga una de sus listas--</option>

<!-- {% if listas %}
    {% for lista in listas %}
        <option value="{{ lista.id }}">{{ lista.id }} : {{ lista.name }}</option>
    {% endfor %}
{% else %}
<h1>Else</h1>
{% endif %} -->


{% if mi_primera_lista %}
<option value="{{ mi_primera_lista.id }}">{{ mi_primera_lista.id }} : {{ mi_primera_lista.name }}</option>
{% else %}
{% for lista in listas %}
<option value="{{ lista.id }}">{{ lista.id }} : {{ lista.name }}</option>
{% endfor %}
{% endif %}