{% extends 'scolarte/base.html' %}

{% block breadcrumb %}
<span class="ml-4 navbar-text">
    <a href="/ class="fa fa-home"></i>
    </a>
    <i class="fa fa-angle-right ml-2 mr-2"></i>
    <a href="/">
        Inicio
    </a>
    <i class="fa fa-angle-right ml-2 mr-2"></i>
    Cambio de contraseña
</span>
{% endblock %}

{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <h1 class="display-5 mb-3  mt-2">Se cambio con exito tu contraseña</h1>
            <a href="{% url 'core:home' %}" class="btn btn-primary">Volver al inicio</a>
        </div>
    </div>
</div>    
{% endblock content %}