{% extends 'scolarte/base.html' %}
{% load crispy_forms_tags %}
{% block breadcrumb %}
<span class="ml-4 navbar-text">
    <a href="/ class="fa fa-home"></i>
    </a>
    <i class="fa fa-angle-right ml-2 mr-2"></i>
    <a href="/">
        Inicio
    </a>
    <i class="fa fa-angle-right ml-2 mr-2"></i>
    Cambio de contraseña
</span>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <h1 class="display-5 mb-3  mt-2">Cambiar mi contraseña</h1>
        </div>
    </div> 
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <!-- {{ form.as_p }} -->
                            {{form.old_password|as_crispy_field}}                            
                            {{form.new_password1|as_crispy_field}}                            
                            {{form.new_password2|as_crispy_field}}                            
                            <button type="submit" class="btn btn-primary">Cambiar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock content %}