{% extends 'scolarte/base.html' %}
{% load static %}
{% block title %}
Gracias por registrarte
{% endblock %}

{% block content %}

<style>
    table {
        margin: 0 auto;
    }

    table tr td {
        border: 1px solid #c1c1c1;
    }

    .table-cuenta-bancaria {
        width: 60% !important;
        max-width: 100% !important;
        margin-bottom: 1rem !important;
        background-color: transparent !important;
    }


    p {
        padding-right: 50px;
        padding-left: 50px;
    }


    .td_text_center {
        text-align: center !important;
        vertical-align: middle !important;
    }

    .hello {
        color: red;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .2em;
    }

    .hello_name {
        color: black;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .2em;
    }

    .details {
        color: red;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: .2em;
    }

    .para_hacer_efectiva_su_orden {
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .2em;
    }

    .send_voucher_text {
        font-size: 12px;
        letter-spacing: .1em;
    }

    .thank_you {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .2em;
    }

    .my_logo {
        width: 80%;
        height: 70%;
    }

    .shipping_date {
        color: seagreen;
        font-weight: bold;
        font-size: 16px;
    }

    .top_row {
        background-color: black;
    }

    .text_white {
        color: white;
    }

    .text_to_right {
        text-align: right;
    }

    .my_custom_table_deposit_payment {
        min-width: 300px;
        font-size: 1e;
    }

    .my_custom_thead {

        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: .2em;
        background-color: #f8f9fa !important;
    }

    #shipping_items_list>li {
        list-style-type: none;
        list-style: none;
    }
</style>

<div class="container margin-top5 margin-bottom10">
    <div class="row">
        <div class="col-md-12 col-lg-12 text-center">
           <h1>Email template</h1>
        </div>
    </div>
</div>

{% endblock %}