{% extends 'scolarte/base.html' %}
{% load static %}
{% block metadescription %}
{% if category %}
{{ category.description|truncatewords:155 }}
{% else %}
¡Bienvenidos a Stickers Gallito Perú!
{% endif %}
{% endblock %}
{% block title %}
{% if category %}
{{ category.name }}
{% else %}
Scolarte
{% endif %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <!-- START HEADER Content -->
            <h1 class="display-4 mb-3 mt-2">
                Mis Listas
            </h1>
            <!-- END HEADER Content -->
        </div>
    </div>
    
    <div class="row mt-5">
        {% for lista in listas %}
            <!-- START CONTENT -->
            <div class="card-deck">
                <a href="{% url 'lists:list_details' lista.id %}">
                <div class="card">
                  <div class="card-body">
                    <p>{{ lista.school.name }}</p>
                    <h5 class="card-title">{{ lista.name }}</h5>
                    <p class="card-text"><small class="text-muted">Última modificación: {{ lista.modified_at }}</small></p>
                  </div>
                </div>
                </a>
            </div>
            <!-- END Card Counter -->                                        
        {% endfor %}
    </div>
       
      



{% endblock %}