{% extends 'scolarte/base.html' %}
{% load static %}
{% block metadescription %}
{% if category %}
{{ category.description|truncatewords:155 }}
{% else %}
¡Bienvenidos a Stickers Gallito Perú!
{% endif %}
{% endblock %}
{% block title %}
{% if category %}
{{ category.name }}
{% else %}
Scolarte
{% endif %}
{% endblock %}

{% block content %}


<h1 class="margin-bottom5">{{ category.name }}</h1>

{% for product in products %}
{% if forloop.counter0|divisibleby:3 and not forloop.first %}<div class="w-100"></div>{% endif %}
<div class="card" style="width: 16rem;">
    <div class="card-body">
        <h5 class="card-title">{{ product.short_name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <img src="{{ product.image.url }}" width="20%" height="20%" />
        <a href="" class="btn btn-primary add-product-btn-{{ product.sku }}">Añadir a mi lista</a>
    </div>
</div>

<!-- New Added Product Modal-->

<div class="modal fade" id="AddedProduct{{ product.sku }}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <h5 class="card-title added-to-cart-check margin-bottom5 margin-left5"><i
                        class="fas fa-check margin-right3"></i>Se agregó el producto</h5>
                <div class="row">
                    <div class="col-md-6">
                        <table style="margin-left:10%; margin-top:15%;">
                            <tr>
                                <th colspan="2" class="added-to-cart-titles">Producto: <br></th>
                                <th class="added-to-cart-text">{{ product.name }}<br></th>
                            </tr>
        
                        </table>
                    </div>
                    <div class="col-md-6">
                        <img class="card-img-top" src="{{ product.image.url }}" width="20%" height="100%">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    
    $(".add-product-btn-{{ product.sku }}").click(function () {

        $.post("{% url 'lists:add_product_to_list' %}", {
            c_slug: "{{ product.category.slug }}",
            s_slug: "{{ product.subcategory.slug }}",
            product_slug: "{{ product.slug }}",
        }).done(function (response) {

        });

        $("#AddedProduct{{ product.sku }}").modal('show');

    });

</script>


<!-- Ends Modal -->
{% endfor %}





{% endblock %}