{% extends 'scolarte/base.html' %}

{% load crispy_forms_tags %}

{% block content %}


<div class="my_header_categories my_header_bg_color  margin-top3">
    <div class="container padding-top3">
        <p class="my_category_title">{{ category.name|title }}</p>
        <p>192 reviews
            <i class="gold-star fas fa-star"></i>
            <i class="gold-star fas fa-star"></i>
            <i class="gold-star fas fa-star"></i>
            <i class="gold-star fas fa-star"></i>
            <i class="gold-star fas fa-star-half-alt"></i>
        </p>
    </div>
</div>


<div class="container margin-top5">
    <div class="margin-bottom5">
        <h2> Actualmente contamos con {{ total_stickers }} stickers en nuestro catálogo</h2>
        <span>Revisa todos utilizando nuestro filtro por categoría y la páginación del lado derecho.</span>
        <p>Agrega todos los que quieras a tu carrito de compras que nosotros los enviaremos hasta tu domicilio
            &#128513;.</p>
        {% if product_count == 1 %}
            <h3>En esta categoría tenemos: {{ product_count }} sticker.</h3>
        {% else %}
            <h3>En esta categoría tenemos: {{ product_count }} stickers.</h3>
        {% endif %}
    </div>

    <!--### Filter ###-->
    <!-- <div class="row margin-top5 margin-bottom5 "> -->
    <div class="d-flex justify-content-between margin-bottom5">
        <div class="">
            <form method="get" action="{% url 'shop:catalogo' %}">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Categorías</label>
                    </div>
                    <select class="custom-select" searchable="Search here.." value={{filtro}} name="filtro">
                        <option value="todas" disabled selected>Seleccionar categoría</option>
                        <option value="todas">Todas</option>
                        <option value="celulares">Celulares</option>
                        <option value="programacion">Programación</option>
                        <option value="videojuegos">Videojuegos</option>
                        <option value="cine">Cine</option>
                        <option value="tv">Series de TV</option>
                        <option value="anime">Anime</option>
                        <option value="musica">Música</option>
                    </select>
                    <div class="input-group-append">
                        <input class="btn btn-outline-secondary" type="submit" name="buscar" value="Buscar"
                            style="margin-bottom: 0px;" />
                    </div>
                </div>
            </form>
        </div>
        <div class="">
            {% if is_paginated %}
            <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a href="catalogo?filtro={{ filtro }}&Buscar&page={{ page_obj.previous_page_number }}"><span class="page-link">Anterior</span></a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">Anterior</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                    <li class="page-item"><a href="catalogo?filtro={{ filtro }}&Buscar&page={{ i }}"><span class="page-link">{{ i }}</span></a></li>
                    {% endif %}   
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a href="catalogo?filtro={{ filtro }}&Buscar&page={{ page_obj.next_page_number }}"><span class="page-link">Siguiente</span></a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
                {% endif %}
            </ul>
            </nav>
            {% endif %}
        </div>
    </div>
    <!-- </div> -->

    <!--### Filter ###-->




    <!-- ENDS NEW ROWS-->

    <div class="mt-3">
        <div class="row justify-content-center">
            {% for unitary_product in object_list %}
            <div class="col-auto mb-3">
                <div class="card" style="width: 18rem;">
                    <a class="btn" data-toggle="modal" href="#FullImage{{ unitary_product.sku }}">
                        <img class="card-img-top" src="{{ unitary_product.image.url }}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ unitary_product.name }}</h5>
                        <p class="card-text">Tamaño: {{ unitary_product.size }}</p>
                        <p class="card-text"><b>Precio unitario: S/ {{ unitary_product.price }}</b></p>
                        <label for="tentacles"><b>Cantidad: </b></label>
                        <!-- <input type="number" class="unitary_product_quantity_for_{{ unitary_product.sku }}"
                            name="unitary_product_quantity_for_{{ unitary_product.sku }}" value="1">
                         -->
                        <select class="unitary_product_quantity_for_{{ unitary_product.sku }}">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <a id="#AddedProduct{{ unitary_product.sku }}"
                            class="margin-top10 btn btn-add-to-cart text-white agregar-unitary-product-btn-for-{{ unitary_product.sku }}"><i
                                class="fas fa-shopping-cart margin-right5"></i>Agregar
                            al carrito</a>

                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Creado el: {{ unitary_product.created }}</small>
                    </div>
                </div>
                <!-- ### AJAX TO SEND QUANTITY -->



                <script>

                    $(".agregar-unitary-product-btn-for-{{ unitary_product.sku }}").click(function () {

                    var unitary_product_quantity_for_{{ unitary_product.sku }} = $('.unitary_product_quantity_for_{{ unitary_product.sku }}').val();
                    var cart_items_counter_bg = $("#shopping-cart").css('background'); // stores original background
                    $.post("{% url 'shop:AddUnitaryProduct' %}", {
                        c_slug: "{{ unitary_product.category.slug }}",
                        product_slug: "{{ unitary_product.slug }}",
                        quantity: unitary_product_quantity_for_{{ unitary_product.sku }},
                        }).done(function (response) {
                            $("span.cart_items_counter").text(response.cart_items_counter);

                            $("#shopping-cart").toggleClass('highlighted', 800);

                            setTimeout(function () {
                                $('#shopping-cart').removeClass('highlighted');
                            }, 2600);
                        });

                    $("#AddedProduct{{ unitary_product.sku }}Quantity").text(unitary_product_quantity_for_{{ unitary_product.sku }});
                    $("#AddedProduct{{ unitary_product.sku }}").modal('show');

                    });

                </script>


                <!-- #########################  -->
            </div>

            <!-- Modal Image -->
            <div class="modal fade" id="FullImage{{ unitary_product.sku }}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!-- <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div> -->
                        <div class="modal-body">
                            <img class="card-img-top" src="{{ unitary_product.image.url }}" alt="Card image cap">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ends Modal -->

            <!-- New Added Product Modal-->

            <div class="modal fade" id="AddedProduct{{ unitary_product.sku }}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <h5 class="card-title added-to-cart-check margin-bottom5 margin-left5"><i
                                    class="fas fa-check margin-right3"></i>Se agregó el producto</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <table style="margin-left:10%; margin-top:15%;">
                                        <tr>
                                            <th colspan="2" class="added-to-cart-titles">Producto: <br></th>
                                            <th class="added-to-cart-text">{{ unitary_product.name }}<br></th>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="added-to-cart-titles">Tamaño: <br></td>
                                            <td>{{ unitary_product.size }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="added-to-cart-titles">Cantidad: <br></td>
                                            <td><span id="AddedProduct{{ unitary_product.sku }}Quantity"></span><br>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <img class="card-img-top" src="{{ unitary_product.image.url }}" width="20%"
                                        height="100%">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ends Modal -->
            {% endfor %}
        </div>
    </div>


</div>





<div class="row margin-bottom3 margin-top3">
    <div class="col-2 col-md-2"></div>
    <div class="col-8 col-md-8">

        {% video category.video as my_video %}

        {% video my_video "medium" %}
        {% endvideo %}

    </div>
    <div class="col-2 col-md-2"></div>
</div>




</div>



{% endblock %}