{% extends 'scolarte/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
<span class="ml-4 navbar-text">
    <a href="/ class="fa fa-home"></i>
    </a>
    <i class="fa fa-angle-right ml-2 mr-2"></i>
    <a href="/">
        Inicio
    </a>
    <i class="fa fa-angle-right ml-2 mr-2"></i>
    Mi Perfil
</span>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <h1 class="display-5 mb-3  mt-2">Mi Perfil</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            
                            <div class="media">
                                <!-- Picture -->                           
                                {% if profile.photo %}
                                    <img src="{{ profile.photo.url }}" class="rounded-circle" height="50">
                                {% else %}
                                    <img src="{% static 'images/default_profile_pic.png' %}"class="rounded-circle" height="50">
                                {% endif %}
                                <!-- End picture -->
                                
                                <div class="media-body">
                                    <h5 class="ml-4">{{user.username}} | {{ user.get_full_name }}</h5>                        
                                    <p class="ml-4"><input type="file" name="picture"/></p>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                
                                <div class="col-sm-12">
                                    {{ client_profile_form.cedula_ruc|as_crispy_field }}
                                </div>
                            </div>  
                            
                            <div class="form-group row">
                                
                                <div class="col-sm-12">
                                    {{ client_profile_form.birthdate|as_crispy_field }}
                                </div>
                            </div> 

                            <div class="form-group row">
                                
                                <div class="col-sm-12">
                                    {{ client_profile_form.mobile|as_crispy_field }}
                                </div>
                            </div> 

                            <div class="form-group row">
                                
                                <div class="col-sm-12">
                                    {{ client_profile_form.telephone|as_crispy_field }}
                                </div>
                            </div> 

                            <div class="form-group row">
                                
                                <div class="col-sm-12">
                                    {{ client_profile_form.address|as_crispy_field }}
                                </div>
                            </div> 

                            <div class="form-group row">
                                
                                <div class="col-sm-12">
                                    {{ client_profile_form.address_reference|as_crispy_field }}
                                </div>
                            </div> 

                            <div class="form-group row">
                                
                                <div class="col-sm-12">
                                    {{ client_profile_form.shipping_address|as_crispy_field }}
                                </div>
                            </div> 

                            <div class="form-group row">
                                <label for="#" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}