body {
    /*font-family: 'Charm', cursive;*/
    font-family: 'Bree Serif', serif;
}

.help_size {
    width:5% !important;
    height: 5% !important;
}

.fb-blue-icon {
    color: #3b5998 !important;
}

.flex {
    display: flex;
}


.width40 {
    width: 40%
}

.width50 {
    width: 50%
}

.width55 {
    width: 55% !important;
}

.width60 {
    width: 60% !important;
}

.width65 {
    width: 65% !important;
}

.width70 {
    width: 70% !important;
}

.display-inline {
   display: inline-block !important;
}

/* Blocks Marings (Replacement of BR tags) */

.margin3 {
    margin: 3px;
}


.margin5 {
    margin: 5px;
}

.margin10 {
    margin: 10px;
}


.margin-right1 {
    margin-right: 1%;
  }

.margin-right2 {
    margin-right: 2%;
  }

.margin-right3 {
    margin-right: 3% !important;
  }

.margin-right5 {
    margin-right: 5% !important;
  }

.margin-right10 {
    margin-right: 10% !important;
  }

  .margin-right15 {
    margin-right: 15% !important;
  }  

  .margin-right20 {
    margin-right: 20% !important;
  }

  .margin-right25 {
    margin-right: 25% !important;
  }

  .margin-right30 {
    margin-right: 30% !important;
  }

  .margin-left1 {
    margin-left: 1%;
  }

.margin-left2 {
    margin-left: 2%;
  }

.margin-left3 {
    margin-left: 3% !important;
  }

.margin-left5 {
    margin-left: 5% !important;
  }

.margin-left10 {
    margin-left: 10% !important;
  }

  .margin-left15 {
    margin-left: 15% !important;
  }  

  .margin-left20 {
    margin-left: 20% !important;
  }

  .margin-left25 {
    margin-left: 25% !important;
  }

  .margin-left30 {
    margin-left: 30% !important;
  }

  .margin-bottom0 {
    margin-bottom: 0% !important;
}

.margin-bottom2 {
    margin-bottom: 2% !important;
}

.margin-bottom3 {
    margin-bottom: 3% !important;
}

.margin-bottom4 {
    margin-bottom: 4% !important;
}

.margin-bottom5 {
    margin-bottom: 5% !important;
}

.margin-bottom6 {
    margin-bottom: 6% !important;
}

.margin-bottom7 {
    margin-bottom: 7% !important;
}

.margin-bottom8 {
    margin-bottom: 8% !important;
}

.margin-top0 {
    margin-top: 0% !important;
}

.margin-top2 {
    margin-top: 2% !important;
}

.margin-top3 {
    margin-top: 3% !important;
}

.margin-top4 {
    margin-top: 4% !important;
}

.margin-top5 {
    margin-top: 5% !important;
}

.margin-bottom3 {
    margin-bottom: 3% !important;
}

.margin-top3 {
    margin-top: 3% !important;
}

.margin-bottom5 {
    margin-bottom: 5% !important;
}

.margin-top5 {
    margin-top: 5% !important;
}


.margin-bottom6 {
    margin-bottom: 6% !important;
}

.margin-top6 {
    margin-top: 6% !important;
}

.margin-bottom8 {
    margin-bottom: 8% !important;
}

.margin-top8 {
    margin-top: 8% !important;
}

.margin-bottom10 {
    margin-bottom: 10% !important;
}

.margin-top10 {
    margin-top: 10%;
}

.margin-bottom20 {
    margin-bottom: 20%;
}

.margin-top20 {
    margin-top: 20%;
}


.margin-bottom30 {
    margin-bottom: 30%;
}

.margin-top30 {
    margin-top: 30%;
}

.margin-bottom40 {
    margin-bottom: 40%;
}

.margin-top40 {
    margin-top: 40%;
}


.padding2 {
    padding: 2%;
}

.padding3 {
    padding: 3%;
}

.padding5 {
    padding: 5%;
}

.padding6 {
    padding: 6%;
}

.padding7 {
    padding: 7%;
}

.padding8 {
    padding: 8%;
}

.padding10 {
    padding: 10%;
}


.padding-bottom2 {
    padding-bottom: 2%;
}

.padding-top2 {
    padding-top: 2%;
}

.padding-bottom3 {
    padding-bottom: 3%;
}

.padding-top3 {
    padding-top: 3%;
}


.padding-bottom4 {
    padding-bottom: 4%;
}

.padding-top4 {
    padding-top: 4%;
}


.padding-bottom5 {
    padding-bottom: 5%;
}

.padding-top5 {
    padding-top: 5%;
}

.padding-bottom6 {
    padding-bottom: 6%;
}

.padding-top6 {
    padding-top: 6%;
}

.padding-bottom7 {
    padding-bottom: 7%;
}

.padding-top7 {
    padding-top: 7%;
}

.padding-bottom10 {
    padding-bottom: 10%;
}

.padding-top10 {
    padding-top: 10%;
}

.padding-bottom12 {
    padding-bottom: 12%;
}

.padding-top12 {
    padding-top: 12%;
}


.padding-bottom15 {
    padding-bottom: 15%;
}

.padding-top15 {
    padding-top: 15%;
}

.padding-bottom20 {
    padding-bottom: 20%;
}

.padding-top20 {
    padding-top: 20%;
}

.padding-left0 {
    padding-left: 0%;
}

.padding-left5 {
    padding-left: 5%;
}

.padding-left10 {
    padding-left: 10%;
}


.margin_right_zero {
    margin-right: 0px;
}


/* == Category Page == */

.my_title_categories {
    font-size: 60px;
}

.my_row_class {
    padding-top: 15px;
}

.my_row_class .mx-auto p {

    color: #000;
    font-size: 12px;
}


.my_row_class .mx-auto p a {

    color: #000;
    font-size: 12px;
    text-decoration: none;
}

.my_image {
    width: 100%;
    height: auto;
}

.my_card_image {
    width: 100%;
    height: auto;
}

.my_image_medium {
    width: 100px;
    height: 100px;
    /*padding-top: 15px;*/
}

.my_title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.thank_you_title {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .2em;
}


.my_product_title {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: bold;
}


.my_image_banner {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    height: auto;
}

.my_title_banner {
    font-size: 40px;
    font-weight: bold;
    /*text-transform: uppercase;*/
    /*letter-spacing: .1em;*/
    color: white;
}

.my_custom_banner_left {
    margin-left: 50px;
    padding-bottom: 0px;
}

.my_custom_banner_right {
    margin-right: 0px;
    padding-right: 0px;
}

/*.my_custom_banner {*/
    /*margin-left: 50px;*/
/*}*/

.my_image_padding {
    padding-top: 66px;
    padding-bottom: 0px;
    padding-right: 0px;
}

.my_bottom_margin {
    margin-bottom: 40px;
}

.card-body h4 {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 0px;
    margin: 0px;
}

ul.my_products_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.my_products_list li {
    margin-right: 30px;
}

/*=== Product Page ==*/

.my_prod_row_class {
    padding-top: 15px;
    padding-bottom: 20px;
}

.my_prod_row_class .mx-auto p {
    color: #000;
    font-size: 12px;
}


.my_prod_row_class .mx-auto p a {
    color: #000;
    font-size: 12px;
    text-decoration: none;
}


.my_prod_title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 15px;
    padding-bottom: 10px;
}

.my_prod_text {
    padding-right: 20px;
}

.my_search_text {
    padding-top: 20px;
}


/*.my_margin_right {*/
    /*margin-left: 10px;*/
/*}*/

/*== Cart ==*/


.my_custom_table {
    min-width: 350px;
    font-size: 14px;
}




.my_custom_table_sm {
    min-width: 250px;
    font-size: 12px;
}

.my_custom_table_deposit_payment {
    min-width: 300px;
    font-size: 12px;
}



.my_custom_thead {

    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #f8f9fa !important;

}

.my_custom_product_name {

    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    background-color: #f8f9fa !important;
    font-size: 12px;

}

.custom_image {
    width: 60px;
    height: 60px;
}

.custom_a {
    text-decoration: none;
}

.custom_icon {
    text-decoration: none;
    color: gray;
}

.my_custom_button {

    margin-top: 5px;
}




.gold-star {
    color: #FFCC00;
}



.text-white {
    color: white;
}


.my_products_icons {
    width: 100%;
    height: 100%;
    /*padding-bottom: 10px;*/
    /*margin-bottom: 10px;*/
}

.my_products_icons:hover {
    background-color: #F2F2F2;
}


.hidden { display: none; }


.info {
    color: #3b3b3b;
}

.info:hover {
    color: #adadad;
}

/* cart - métodos de pago */

.tops {
    margin-bottom: 10px;
    padding-top: 5%;
}


/* Reviews */

.review_title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 1.6em;
}


/* -- TESTIMONIOS --*/

.testimonios-nombre {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-size: 12px;
}



/* Added to Cart Modal Text */

.added-to-cart-check {
    /*font-weight: bold;*/
    color: green;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.2em;
}


.added-to-cart-titles {
    font-weight: bold;
    color:black;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
}


.added-to-cart-text {
    font-weight: normal;
    color:black;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
}