{% extends 'scolarte/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div>
    <!--                | means OR operator-->
    <strong>{{message|safe}}</strong>
</div>
{% endfor %}
{% else %}

<h1>Creación de categorías</h1>
<p>{{orden}}</p>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file1">Subir archivo</label>
    <input type="file" id="file1" name="file"><br>
    <small>Solo se aceptan CSV files</small>
    <button type="submit">Crear categorías</button>
</form>
{% endif %}

<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }

    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }
</style>

<br>
<h3> Categorías disponibles </h3>
<table class="tg margin-top5">
    <tr>
        <th class="tg-0pky">Categoría</th>
        <th class="tg-0pky">Description</th>
        <th class="tg-0pky">Fecha de creación</th>
    </tr>
    {% for categoria in categorias %}
    <tr>
        <td class="tg-0pky">{{categoria.name}}</td>
        <td class="tg-0pky">{{categoria.description}}</td>
        <td class="tg-0pky">{{categoria.created_at}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}